body {
  overflow-x: hidden;
  margin:0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  width: 100%;
}

.header-section {
  /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
  background-image: url(./Images/header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
}

.header-text {
  height: 350px;
  text-align: center;
  float: left;
  color: rgb(42, 122, 172);
  padding-top: 50px;
  line-height: 1;
  font-size: 55px;
}

.btn {
  font-size: 25px;
}

.header > svg {
  display: block;
}

.curved {
  display: block;
  margin-top: 0;
}

@media screen and (min-width: 980px) and (max-width:1024px) {
  body{
    width: 100%;
  }

  .header-text {
    
    font-size: 55px;
  }
}

@media screen and (min-width: 575px) and (max-width: 979px) {
  .header-text {
    
    font-size: 45px;
  }

  body{
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width:574px) {
  body{
    width: 100%;
  }
  
  .header-text {
    
    font-size: 35px;
  }
}